
<a style="text-decoration: none;" href="http://leonddarko.web.app" target="_blank">
    <div class="footer">
        <span class="w3-small">Designed and Built by Leon Darko</span>
        <i class="footer-icon w3-text-black fas fa-external-link-alt w3-small w3-right"></i>
    </div>
</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>