<div id="sidenav" class="sidenav">
    <br>
    <a href="/home">Home <i class="fas fa-home w3-right sn-icon"></i></a>
    <a href="/sales">Sales <i class="fas fa-money-check w3-right sn-icon"></i></a>
    <span class="sidenav-title">CONTROL PANEL</span>
    <a href="">Dashboard <i class="fas fa-tachometer-alt w3-right sn-icon"></i></a>

    <span class="sidenav-title">Products & Packages</span>
    <a href="/products">Products <i class="fas fa-angle-right w3-right sn-icon"></i></a>
    <a href="">Packages <i class="fas fa-angle-right w3-right sn-icon"></i></a>

    <span class="sidenav-title">Administration</span>
    <a href="/users">User Management<i class="fas fa-user-edit w3-right sn-icon"></i></a>
    <a href="/branches">Branch Management<i class="fas fa-warehouse w3-right sn-icon"></i></a>
   
    <span class="sidenav-title">Account & Settings</span>

    <a href="/logout" role="button">Logout <i class="fas fa-sign-out-alt w3-right sn-icon"></i></a>
</div>