<%- include("partials/header"); -%>
<%- include("partials/topnav"); -%>
<%- include("partials/sidenav"); -%>
    <div class="main">
        <div class="w3-center">
            <i class="fas w3-text-blue fa-user-circle w3-jumbo w3-padding-24"></i>
            <h2 class="w3-margin-0">Welcome, </h2>
            <p>Manage Products, Packages, Makes Sales & More</p>
        </div>

        <div class="w3-row">
            <div class="w3-col l6 m6">
                <a href="/products">
                    <div class="home-page-card-top">
                        <div class="w3-row">
                            <div class="w3-col l9 m6">
                                <h5 class=" hp-card-title">Products & Products <br> Packages</h5>
                                <p class="w3-margin-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="w3-col l3 m3 w3-center">
                                <i class="fas fa-shopping-bag w3-jumbo w3-padding-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="home-page-card-bottom">
                        <p>Manage Products and Packages</p>
                    </div>
                </a>
            </div>

            <div class="w3-col l6 m6">
                <a href="#">
                    <div class="home-page-card-top">
                        <div class="w3-row">
                            <div class="w3-col l9 m6">
                                <h5 class=" hp-card-title">Check <br>Dashboard Metrics</h5>
                                <p class="w3-margin-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="w3-col l3 m3 w3-center">
                                <i class="fas fa-chart-line w3-jumbo w3-padding-24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="home-page-card-bottom">
                        <p> Check & Manage Metrics</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

<%- include("partials/footer"); -%>